<div class="main users-index">
    <h1 class="users-heading">all product package</h1>
    <div class="extab">
        <table id="customers">
            <tr>
                <th>Product package</th>
                <th>packages</th>
                <th>Description</th>
            </tr>
        <% @packages.each do |p|%>
            <tr>
                <td><%= p.name%></td>
                <td>
                    <% p.products.each do |pro|%>
                        <%= pro.name%></br>
                    <%end%>
                </td>
                <td>Description</td>
            </tr>
        <%end%>
        </table>
    </div>
    <div class="extab">
        <div class="form-body">
        <%= form_tag("order_type") do%>
            <div class="container_a">
                <b>please select a product type</b><br/><br/>
                <select name="ordertype" id="ordertype">
                    <%= options_from_collection_for_select(ProductPackage.all, :id, :name) %>
                </select>
            </div>
            <input class="btn btn-success btn-lg btn-block mb-3" type="submit" value="next">
        <%end%>
        </div>
    </div>
</div>
